<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myzhufeng.mydex.com.myzhufeng" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ting"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 应用程序的入口点  扉页 -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 从扉页跳转到主程序 -->
        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.WelcomeActivity"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".activitys.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>


        <!-- ContentProvider 定义 用于本地数据的访问 -->
        <provider
            android:name=".provider.DataProvider"
            android:authorities="com.mydex.myzhufeng.dataprovider"
            android:enabled="true"
            android:exported="false"
            />

    </application>

</manifest>
